body{
    background-color: black;
    
}
main {
    display: flex;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    height: 100vh;            /* full screen */
}

button {
    font-size: 30px;
    padding: 20px 30px;
    font-weight: 800;
    color: turquoise;
    border-radius: 20px;
    background-color: red;
    position: relative;
    z-index: 10;
}
button:hover{
    background-color: cyan;
    scale: 1.1;
    color: brown;
}