body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#box{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 10px;

}
#outer {
    
    height: 7%;
    background-color: rgb(55, 203, 14); /* FIXED */
    border-radius: 10px;
    margin-top: 50px;
   
}
#inner{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
#inner button{
     height: 19px;
     margin: 30px 20px;
     text-align: center;
     font-size: 13px;
    background-color: chartreuse;
    font-style: italic;
    border-radius: 10px;
}
